<div class="purple-template">
  <div>

    <div style="height:100%;width:100%" class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-1 nopadding">
          <div class="col-md-offset-2 col-lg-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-10 col-md-10 col-sm-10 col-xs-10 nopadding">
            <div id="educationBox">
              <h1 class="pageHeading nopadding">Education</h1>
            </div>
            <div class="education">
              <div class="subHeading">
                <a>Something Here</a>
                <time>07 / 2008 - 07 / 2009</time>
              </div>
              <div class="educationInfo">
                <ul>
                  <li>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin molestie malesuada. </span>
                  </li>
                  <li>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin molestie malesuada. </span>
                  </li>
                  <li>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin molestie malesuada. </span>
                  </li>
                </ul>
              </div>
              <hr>
              <div class="education">
                <div class="subHeading">
                  <a>Something Here</a>
                  <time>07 / 2008 - 07 / 2009</time>
                </div>
                <div class="educationInfo">
                  <ul>
                    <li>
                      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin molestie malesuada. </span>
                    </li>
                    <li>
                      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin molestie malesuada. </span>
                    </li>
                    <li>
                      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin molestie malesuada. </span>
                    </li>
                  </ul>
                </div>
                <hr>
                <div class="education">
                  <div class="subHeading">
                    <a>Something Here</a>
                    <time>07 / 2008 - 07 / 2009</time>
                  </div>
                  <div class="educationInfo">
                    <ul>
                      <li>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin molestie malesuada. </span>
                      </li>
                      <li>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin molestie malesuada. </span>
                      </li>
                      <li>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin molestie malesuada. </span>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
