<div class="purple-template">
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
          <div class=" col-md-offset-2 col-lg-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-10 col-md-10 col-sm-10 col-xs-10 nopadding">
            <div id="experienceBox">
              <h1 class="pageHeading nopadding">Experience</h1>
            </div>
            <div class="workXp job">
              <div class="workHeading">
                <a>Something Here</a>
                <time>07 / 2008 - 07 / 2009</time>
                <p class="workPosition">job position</p>
              </div>
              <div class="jobDuties">
                <ul>
                  <li>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin molestie malesuada. </span>
                  </li>
                  <li>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin molestie malesuada. </span>
                  </li>
                  <li>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin molestie malesuada. </span>
                  </li>
                </ul>
              </div>
              <hr>
              <div class="workXp job">
                <div class="workHeading">
                  <a>Something Here</a>
                  <time>07 / 2008 - 07 / 2009</time>
                  <p class="workPosition">job position</p>
                </div>
                <div class="jobDuties">
                  <ul>
                    <li>
                      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin molestie malesuada. </span>
                    </li>
                    <li>
                      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin molestie malesuada. </span>
                    </li>
                    <li>
                      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin molestie malesuada. </span>
                    </li>
                  </ul>
                </div>
                <hr>
                <div class="workXp job">
                  <div class="workHeading">
                    <a>Something Here</a>
                    <time>07 / 2008 - 07 / 2009</time>
                    <p class="workPosition">job position</p>
                  </div>
                  <div class="jobDuties">
                    <ul>
                      <li>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin molestie malesuada. </span>
                      </li>
                      <li>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin molestie malesuada. </span>
                      </li>
                      <li>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin molestie malesuada. </span>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
