<!DOCTYPE html>
<html ng-app="app">

<head>
	<title>My App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/angular-material/angular-material.css">
	<link rel="stylesheet" type="text/css" href="/css/pages.css">
	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="/css/animateState.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>

</head>

<body ng-cloak>
	<div ng-cloak class="main" ng-controller="HomeController as vm">
		<div ng-hide="vm.typingAnimationDone">
			<h1 class="big-text">{{vm.type.text}}</h1>
			<div id=secondMessage>
				<h4>
					<span class="big-text" ng-repeat="letter in vm.secondType track by $index" ng-class="{mongo: letter === 'M', express: letter === 'E', angular: letter === 'A', node: letter === 'N'}">{{letter}}</span>
				</h4>
			</div>
		</div>


		<div ng-show='vm.typingAnimationDone' id="name">
			<h1>Kareem March</h1>
			<h3>Web Developer</h3>
		</div>

	</div>


	<!-- Ext Libs -->
	<script src="angular/angular.min.js"></script>
	<script src="angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="angular-animate/angular-animate.js"></script>
	<script src="angular-aria/angular-aria.js"></script>
	<script src="angular-material/angular-material.js"></script>
	<!-- Global Src -->
	<script src="/javascript/app.js"></script>
	<script src="angular-smooth-scroll\angular-smooth-scroll.js"></script>
	<!-- Factories -->
	<script src="/javascript/services/HomeFactory.js"></script>
	<!-- Controllers -->
	<script src="/javascript/controllers/HomeController.js"></script>
	<!-- <script src="/javascript/controllers/EducationController.js"></script> -->
	<!-- <script src="/javascript/controllers/redController.js"></script> -->
</body>

</html>
