html, body, .purple-template, div[ui-view] {
  height: 100%;
  width: 100%;
}
.main {
  width: 100%;
  display: inline-block;
}
@media screen and (min-width: 1000px) {
  .big-text {
    font-size: 5em
  }
}
@media screen and (min-width: 700px) and (max-width: 999px) {
  .big-text {
    font-size: 10em
  }
}
#purple {
  background-color: purple;
  height: 100%;
  width: 100%;
}
#red {
  background-color: red;
  height: 100%;
  width: 100%;
}
#secondMessage {
  font-weight: bold;
}
.mongo {
  color: brown;
}
.express {
  color: grey;
}
.angular {
  color: red;
}
.node {
  color: green;
}

/*ANIMATIONS*/
@keyframes animate-navbar {
  from {
    right: 100%;
  }
  to{
    right: 83.3%;
  }
}
.navbaranimate {
  animation: animate-navbar .3s ease-in;
  animation-fill-mode: forwards;
}
@keyframes state-change {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}
[ui-view].ng-enter {
  position: absolute;
  /*z-index: 200;*/
  animation: state-change 1.5s ease-in;
}
[ui-view].ng-leave {
  position: absolute;
  /*z-index: -1*/
  animation: state-change 1s reverse;
}
