#navigation {
  z-index: 9999;
  font-size: 1.3em;
  /*THIS IS FOR GLYPHICON SIZES*/
  height: 100%;
  position: fixed;
  /*right: 100%;*/
  top: 0;
  color: #000000;
  background-color: white;
  padding: 0px;
  box-shadow: 4px 1px 19px black;
}
.icons{

  color: #303F9F;
}
.icons:hover{
  transform: scale(1.2);
}
#navigation a {
  color: #000000;
  padding-left: 13px;
  padding-right: 13px;
  width: 130px;
  padding: 0px auto auto auto;
  text-align: center;
}
#navigation a {
  text-decoration: none;
}
.titles {
  font-size: .7em;
  padding-left: 8px;
}
#name {
  height: 30%;
  text-align: center;
  background-color: #F44336;
  margin-top: 0px;
  padding-top: 1.3em;
  color: white;
}
.portNames, .contact {
  text-align: center;
  border-bottom: solid thin rgba(0, 0, 0, 0.3);
  padding: 4% 1%;
  font-size: 2em;
  text-emphasis: center;
  height: 17.5%;
}

/*---------MEDIA QUERIES-------------------- */

@media /*only screen and*/ (min-width: 1050px){
  body {
    font-size: 1.3em !important;
  }
}
@media/* only screen and*/ (min-width: 700px) and (max-width: 1049px){
  body {
    font-size: 0.9em !important;
  }
}




























/*@media only screen and (max-width: 849px) {
  .titles {
    display: none;
  }
  .icons{
    position: relative;
  }
  #navigation, .contact {
    width: 3em;
  }
  #navigation a:active {
    color: #000000;
  }
  .portNames {
    padding: 2.3em 1.3em 1.76em .2em;
  }
  .contact {
    padding: 96px 0px 30px 0px;
    height: 36%;
  }
  .contact2 {
    display: none;
  }
  #name {
    display: none;
  }
}*/
